.carousel-caption{
  position: absolute;
  right: 15%;
  top: 30px;
  left: 15%;
  z-index: 10;
  padding-top: 20px;
  padding-bottom: 20px;
  color: #fff;
  text-align: center;
}
/* width */
::-webkit-scrollbar {
    width: 10px;
}
/* Handle */
::-webkit-scrollbar-thumb {
    background: #343a40;
    border-radius: 50px;
}
::-webkit-scrollbar-thumb:hover {
    background: black;
    border-radius: 50px;
}
